<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Edu.SenaCsf.LoaniumDesktop.Datos.Properties.Settings.LoaniumConnectionString"
            connectionString="Data Source=DESKTOP-0S26F42\SQLEXPRESS;Initial Catalog=Loanium;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>